@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --body-color: rgba(201, 176, 224, 0.616);
    --button-color: rgba(126, 35, 211, 0.616);
    --nav-border: rgb(150, 54, 206);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--body-color);
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

/*************nav started****************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid var(--nav-border);
    height: 4rem;
    border-bottom-left-radius: 10px;
}

.nav-icons button {
    padding: 8px 12px;
    border-radius: 2px;
    border: 1px;
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--nav-border);
}

/**********nav end*****************/

.hero img {
    width: 100%;
    height: 20rem;

}

.quiz-section {
    margin-left: 10%;
    margin-right: 10%;
}

.section-heading {
    padding: 20px;
}

/********* List styling************/
.quiz-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 5rem;
    justify-content: center;
}

.quiz-list li {
    height: 18.5rem;
    width: 16.25rem;
    padding: 0.5rem;
    background-color: rgba(37, 6, 66, 0.616);
    border-radius: 1.5rem;
    box-shadow: 10px 5px 5px rgba(53, 52, 52, 0.671);
}

.quiz-list li:hover {
    box-shadow: 10px 5px 5px rgb(43, 42, 42);
    background-color: rgba(37, 6, 66, 0.712);
}

.quiz-image {
    width: 100%;
    height: 50%;
    border-radius: 1.5rem;
}

.quiz-list-h2 {
    background-color: bisque;
}

.quiz-list p {
    color: bisque;
}

/********footer started*************/

footer {
    margin-top: 1rem;
    /* background-color: rgb(228, 226, 226); */
    /* padding: 0.8rem; */
    display: flex;
    justify-content: flex-end;
}

footer a {
    padding: 0.4rem 1rem;
}